.footer {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  color: #9fa3aa;
  padding: 50px 50px;
  background: #f0f0fc;
  border-radius: 50px;
  margin-top: auto;
}

li {
  list-style-type: none;
  padding-bottom: 10px;
}

ul {
  margin: 0;
  padding-left: 0;
}

.footer li {
  cursor: pointer;
}
