.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  font-size: 18px;
  font-weight: 500;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
}

.header div {
  cursor: pointer;
}

h1 {
  cursor: pointer;
}
